<a href="https://colab.research.google.com/github/Luap95/Luap95/blob/main/Conversao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: mescle todas as planilhas que estão em disco e acresente uma coluna com o nome do arquivo, deve ser extraido somente o texto antes do -

import pandas as pd
import os
import re

def merge_excel_files(directory):
    """
    Merges all Excel files in a directory into a single DataFrame,
    adding a column with the filename (extracted text before '-').

    Args:
        directory: The path to the directory containing the Excel files.

    Returns:
        A pandas DataFrame containing the merged data, or None if no files
        are found or an error occurs.
    """

    all_data = []
    for filename in os.listdir(directory):
        if filename.endswith(('.xls', '.xlsx')):
            filepath = os.path.join(directory, filename)
            try:
                df = pd.read_excel(filepath, usecols=[0,1,2,3,4,5,6])

                # Extract filename before '-' using regex
                match = re.match(r"(.+?)-", filename)
                if match:
                    file_prefix = match.group(1)
                else:
                    file_prefix = filename  # Use the whole filename if no '-' is found

                df['Clinica'] = file_prefix
                all_data.append(df)

            except Exception as e:
                print(f"Error reading file {filename}: {e}")
                return None # or handle error differently

    if not all_data:
        print("No Excel files found in the specified directory.")
        return None

    merged_df = pd.concat(all_data, ignore_index=True)
    return merged_df


# Example usage: replace with your directory
directory_path = '/content/'
merged_data = merge_excel_files(directory_path)

In [ ]:
merged_data.head()

,Cod. Req.,Unnamed: 1,Data,Unidade,Tipo Atd.,SF,Conselho,Clinica
0,573733,NaN,01/02/2025 09:00,Jundiaí,Consulta com Refração,N,192963CRM-SP,Jundiaí.xlsx
1,573737,NaN,01/02/2025 09:07,Jundiaí,Consulta com Refração,N,192963CRM-SP,Jundiaí.xlsx
2,573797,NaN,01/02/2025 09:09,Jundiaí,Consulta com Refração,N,192963CRM-SP,Jundiaí.xlsx
3,574256,NaN,01/02/2025 09:10,Jundiaí,Consulta com Refração,S,192963CRM-SP,Jundiaí.xlsx
4,574258,NaN,01/02/2025 09:14,Jundiaí,Consulta com Refração,N,192963CRM-SP,Jundiaí.xlsx

In [ ]:
merged_data.isna().sum()

Cod. Req.       28
Unnamed: 1    5927
Data           210
Unidade        210
Tipo Atd.      210
SF             210
Clinica          0
dtype: int64

In [ ]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6095 entries, 0 to 6094
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cod. Req.   6067 non-null   object
 1   Unnamed: 1  168 non-null    object
 2   Data        5885 non-null   object
 3   Unidade     5885 non-null   object
 4   Tipo Atd.   5885 non-null   object
 5   SF          5885 non-null   object
 6   Clinica     6095 non-null   object
dtypes: object(7)
memory usage: 333.4+ KB

In [ ]:
#Apagando as linhas onde os dados da coluna Numero da Consulta,
#ou Valor da Venda, ou Data da Venda, ou Numero da OS da Ótica sejam Nan
merged_data = merged_data.dropna(subset=['Numero da Consulta', 'Valor da Venda', 'Data da Venda', 'Numero da OS da Ótica'])

KeyError: ['Numero da Consulta', 'Valor da Venda', 'Data da Venda', 'Numero da OS da Ótica']

In [ ]:
#apague a coluna Unnamed: 1
merged_data = merged_data.drop(columns=['Unnamed: 1', 'Clinica'])

In [ ]:
merged_data.isna().sum()

Cod. Req.     28
Data         210
Unidade      210
Tipo Atd.    210
SF           210
dtype: int64

In [ ]:
#exportando o data frame em excel
merged_data.to_excel('merged_data.xlsx', index=False)

In [ ]:
# prompt: Acesse uma pasta no google drive e mescle todas as planilhas Google em um unico data frame

from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import os
import re

def merge_excel_files(directory):
    """
    Merges all Excel files in a directory into a single DataFrame,
    adding a column with the filename (extracted text before '-').

    Args:
        directory: The path to the directory containing the Excel files.

    Returns:
        A pandas DataFrame containing the merged data, or None if no files
        are found or an error occurs.
    """

    all_data = []
    for filename in os.listdir(directory):
        if filename.endswith(('.xls', '.xlsx')):
            filepath = os.path.join(directory, filename)
            try:
                df = pd.read_excel(filepath, usecols=[0,1,2,3,4,5])

                # Extract filename before '-' using regex
                match = re.match(r"(.+?)-", filename)
                if match:
                    file_prefix = match.group(1)
                else:
                    file_prefix = filename  # Use the whole filename if no '-' is found

                df['Clinica'] = file_prefix
                all_data.append(df)

            except Exception as e:
                print(f"Error reading file {filename}: {e}")
                return None # or handle error differently

    if not all_data:
        print("No Excel files found in the specified directory.")
        return None

    merged_df = pd.concat(all_data, ignore_index=True)
    return merged_df


# Example usage: replace with your Google Drive directory
directory_path = '/content/drive/MyDrive/Dashboard Oftamed/Dados/Consultas convertidas em vendas' # Substitua 'your_folder' pelo nome da sua pasta no Google Drive
merged_data = merge_excel_files(directory_path)

if merged_data is not None:
    merged_data.head()
    merged_data.isna().sum()
    merged_data.info()
    #Apagando as linhas onde os dados da coluna Numero da Consulta,
    #ou Valor da Venda, ou Data da Venda, ou Numero da OS da Ótica sejam Nan
    merged_data = merged_data.dropna(subset=['Numero da Consulta', 'Valor da Venda', 'Data da Venda', 'Numero da OS da Ótica'])
    merged_data.isna().sum()
    #exportando o data frame em excel
    merged_data.to_excel('merged_data.xlsx', index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
No Excel files found in the specified directory.

In [ ]:
merged_data.head()

AttributeError: 'NoneType' object has no attribute 'head'