<a href="https://colab.research.google.com/github/Luap95/Luap95/blob/main/Hora%2Bda%2Bpratica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da pratica" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Introdução ao Python

### Questão 1

Imprima a frase `Escola de Dados da Alura!`

In [ ]:
print('Escola de Dados da Alura!')

Escola de Dados da Alura!

### Questão 2
Imprima na tela seu nome e seu sobrenome seguindo a estrutura abaixo:
```
Nome: [seu nome]
Sobrenome: [seu sobrenome]
```

In [ ]:
print('Nome:', 'Lucas')
print('Sobrenome:', 'Almeida Pereira')

Nome: Lucas
Sobrenome: Almeida Pereira

### Questão 3
Imprima o seu primeiro nome letra a letra. Por exemplo, nome é Mirla, então eu obtenho a seguinte saída:
```
M
I
R
L
A
```

In [ ]:
print('L')
print('u')
print('c')
print('a')
print('s')

L
u
c
a
s

### Questão 4
Imprima o dia do seu nascimento em formato `dia mês ano`. Os valores de dia e ano não podem estar entre aspas. O formato deve estar como no exemplo, supondo uma data de aniversário dia 28 de fevereiro de 2003:
```
28 fevereiro 2003
```

In [ ]:
print(7, 'julho', 1995)

7 julho 1995

### Questão 5
Imprima em um único print o atual ano que você está fazendo esse curso, o valor do ano deve ser um dado numérico. A saída do print deve ser a seguinte:
```
Ano atual: [ano]
```

In [ ]:
print('Ano atual:', 2024)

Ano atual: 2024

## Aula 2 - Manipulando dados no Python

### Coleta e amostragem de dados

#### Questão 1
Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.

In [ ]:
nome = input("Digite o seu nome: ")
print(f"Olá, {nome}")

Digite o seu nome: Lucas
Olá, Lucas

#### Questão 2
Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.

In [ ]:
nome = input("Digite o seu nome: ")
idade = int(input("Digite a sua idade: "))
print(f"Olá, {nome}. Você tem {idade} anos")

Digite o seu nome: Lucas
Digite a sua idade: 24
Olá, Lucas. Você tem 24 anos

#### Questão 3
Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [ ]:
nome = input("Digite o seu nome: ")
idade = int(input("Digite a sua idade: "))
altura = float(input("Digite a sua altura em metros: "))
print(f"Olá, {nome}. Você tem {idade} anos e mede {altura} metros!")

Digite o seu nome: Lucas
Digite a sua idade: 29
Digite a sua altura em metros: 1.76
Olá, Lucas. Você tem 29 anos e mede 1.76 metros!

### Calculadora com operadores

#### Questão 1

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero: "))
soma = num1 + num2
soma

Digite o um numero: 2
Digite o um numero: 4

6.0

#### Questão 2
Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero: "))
num3 = float(input("Digite o um numero: "))
soma = num1 + num2 + num3
soma

Digite o um numero: 3
Digite o um numero: 2
Digite o um numero: 4

9.0

#### Questão 3
Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero: "))
sub = num1 - num2
sub

Digite o um numero: 10
Digite o um numero: 2

8.0

#### Questão 4

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero: "))
mult = num1 * num2
mult

Digite o um numero: 2
Digite o um numero: 5

10.0

#### Questão 5

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero que não seja 0: "))
div = num1 / num2
div

Digite o um numero: 6
Digite o um numero que não seja 0: 2

3.0

#### Questão 6

Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero: "))
exp = num1 ** num2
exp

Digite o um numero: 2
Digite o um numero: 3

8.0

#### Questão 7
Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero que não seja 0: "))
divInt = num1 // num2
divInt

Digite o um numero: 5
Digite o um numero que não seja 0: 2

2.0

#### Questão 8

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
num1 = float(input("Digite o um numero: "))
num2 = float(input("Digite o um numero que não seja 0: "))
divRest = num1 % num2
divRest

Digite o um numero: 5
Digite o um numero que não seja 0: 2

1.0

#### Questão 9

Crie um código que solicita 3 notas de um estudante e imprima a média das notas.

In [ ]:
n1 = float(input("Digite a primeira nota: "))
n2 = float(input("Digite a segunda nota: "))
n3 = float(input("Digite a terceira nota: "))
media = (n1 + n2 + n3) / 3
media

Digite a primeira nota: 5
Digite a segunda nota: 7
Digite a terceira nota: 8

6.666666666666667

#### Questão 10

Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

In [ ]:
media = (5*1 + 12*2 + 20*3 + 15*4)/4
media

37.25

### Editando textos

#### Questão 1

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.

In [ ]:
frase = "Olá Mundo"
frase

'Olá Mundo'

#### Questão 2
Crie um código que solicite uma frase e depois imprima a frase na tela.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase)

Escreva uma frase: Olá Mundo!
Olá Mundo!

#### Questão 3

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.upper())

Escreva uma frase: Testando uma frase
TESTANDO UMA FRASE

#### Questão 4

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.lower())

Escreva uma frase: TESTE DE MANIPULAÇÃO DE STRING
teste de manipulação de string

#### Questão 5

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.strip())

Escreva uma frase:     teste de string
teste de string

#### Questão 6

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.strip())

Escreva uma frase:  Teste de texto
Teste de texto

#### Questão 7


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.strip().lower())

Escreva uma frase:       TESTANDO
testando

#### Questão 8

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`e`” trocadas pela letra “`f`”.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.replace('e', 'f'))

Escreva uma frase: Teste de troca de letras
Tfstf df troca df lftras

#### Questão 9


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`a`” trocadas pela caractere  “`@`”.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.replace('a', '@'))

Escreva uma frase: Vamos programar
V@mos progr@m@r

#### Questão 10


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “`s`” trocadas pelo caractere  “`$`”.

In [ ]:
frase = input("Escreva uma frase: ")
print(frase.replace('s', '$'))

Escreva uma frase: nossa senhora
no$$a $enhora

## Aula 3 - Estruturas condicionais

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

In [ ]:
num1 = float(input("Digite um numero: "))
num2 = float(input("Digite um numero: "))
if num1 > num2:
  print(f"O maior numero é {num1}")
else:
  print(f"O maior numero é {num2}")

Digite um numero: 3
Digite um numero: 8
O maior numero é 8.0

#### Questão 2
Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

In [ ]:
porc = float(input("Digite a porcentagem de crescimento: "))
if porc > 0:
  print("A empresa cresceu")
else:
  print("A empresa descresceu")

Digite a porcentagem de crescimento: -10
A empresa descresceu

#### Questão 3
Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

In [ ]:
letra = input("Digite uma letra: ")
if letra == "a" or letra == "e" or letra == "i" or letra == "o" or letra == "u":
  print("A letra digitada é uma vogal")
else:
  print("A letra digitada é uma consoante")

Digite uma letra: c
A letra digitada é uma consoante

#### Questão 4
Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

In [ ]:
from logging import setLogRecordFactory
priAno = 60000
segAno = 55000
terAno = 52000

if priAno > segAno or priAno > terAno:
  print(f"O valor mais alto é de {priAno}")
  if segAno < terAno:
    print(f"O valor mais baixo é o de {segAno}")
  else:
    print(f"O valor mais baixo é o de {terAno}")
elif segAno > priAno or segAno > terAno:
  print(f"O valor mais alto é de {segAno}")
  if priAno < terAno:
    print(f"O valor mais baixo é o de {priAno}")
  else:
    print(f"O valor mais baixo é o de {terAno}")
elif terAno > priAno or terAno > segAno:
  print(f"O valor mais alto é de {terAno}")
  if priAno < segAno:
    print(f"O valor mais baixo é o de {priAno}")
  else:
    print(f"O valor mais baixo é o de {segAno}")

O valor mais alto é de 60000
O valor mais baixo é o de 52000

#### Questão 5
Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.

In [ ]:
preco1 = 10.50
preco2 = 18.99
preco3 = 11.00

if preco1 < preco2 and preco1 < preco3:
  print(f"O menor preço é de {preco1}")
elif preco2 < preco1 and preco2 < preco3:
  print(f"O menor preço é de {preco2}")
elif preco3 < preco1 and preco3 < preco2:
  print(f"O menor preço é de {preco3}")

O menor preço é de 10.5

#### Questão 6
Escreva um programa que leia três números e os exiba em ordem decrescente.

In [ ]:
num1 = 5
num2 = 7
num3 = 13
pri = 0
seg = 0
ter = 0

if num1 > num2 and num1 > num3:
  pri = num1
  if num2 > num3:
    seg = num2
    ter = num3
  else:
    seg = num3
    ter = num2
elif num2 > num1 and num2 > num3:
  pri = num2
  if num1 > num3:
    seg = num1
    ter = num3
  else:
    seg = num3
    ter = num1
else:
  pri = num3
  if num1 > num2:
    seg = num1
    ter = num2
  else:
    seg = num2
    ter = num1

print(f"O primeiro numero mais alto é {pri}, o segundo mais é {seg}, o terceito mais é {ter}")

O primeiro numero mais alto é 13, o segundo mais é 7, o terceito mais é 5

#### Questão 7
Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite") e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

In [ ]:
periodo = input("Em qual período você estuda? ")

if periodo == "manhã":
  print("Bom Dia!")
elif periodo == "tarde":
  print("Boa Tarde!")
elif periodo == "noite":
  print("Boa Noite!")
else:
  print("Valor Inválido!")

Em qual período você estuda? tarde
Boa Tarde!

#### Questão 8
Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo `%`.

In [ ]:
num = int(input("Digite um numer: "))

if(num % 2) == 0:
  print("O numero é par")
else:
  print("O numero é impar")

Digite um numer: 5
O numero é impar

#### Questão 9
Escreva um programa que peça um número à pessoa usuária e informe se ele é inteiro ou decimal.

In [ ]:
numero = float(input("Digita um numero: "))
numInt = int(numero)

if (numero - numInt) == 0:
  print("O numero é inteiro")
else:
  print("O numero é decimal")

Digita um numero: 5.4
O numero é decimal

### Momento dos projetos

#### Questão 10
Um programa deve ser escrito para ler dois números e, em seguida, perguntar à pessoa usuária qual operação ele deseja realizar. O resultado da operação deve incluir informações sobre o número - se é par ou ímpar, positivo ou negativo e inteiro ou decimal.

In [ ]:
#Entrada dos dados
num1 = float(input("Digite o primeiro numero: "))
num2 = float(input("Digite o segundo numero: "))
operador = input("Digite o tipo de operação. +,-,*,/: ")
resultado = 0.0
#fazendo o calculo
if operador == "+":
  resultado = num1 + num2
elif operador == "-":
  resultado = num1 - num2
elif operador == "*":
  resultado = num1 * num2
elif operador == "/":
  resultado = num1 / num2

#Verificando se é par ou impar
par = ""
if (resultado / 2) == 0:
  par = "par"
else:
  par = "ímpar"

#verificando se é positivo ou negativo
sinal = ""
if resultado >= 0 :
  sinal = "positivo"
else:
  sinal = "negativo"

#verificando se é inteiro ou decimal
decInt = ""
numInt = int(resultado)

if (resultado - numInt) == 0:
  decInt = "inteiro"
else:
  decInt = "decimal"

print(f"O resultado da operação {num1} {operador} {num2} é igual a {resultado}. O numero é {par}, {sinal}, {decInt}")

Digite o primeiro numero: 6
Digite o segundo numero: 9
Digite o tipo de operação. +,-,*,/: *
O resultado da operação 6.0 * 9.0 é igual a 54.0. O numero é ímpar, positivo, inteiro

#### Questão 11
Escreva um programa que peça à pessoa usuária três números que representam os lados de um triângulo. O programa deve informar se os valores podem ser utilizados para formar um triângulo e, caso afirmativo, se ele é equilátero, isósceles ou escaleno. Tenha em mente algumas dicas:
- Três lados formam um triângulo quando a soma de quaisquer dois lados for maior que o terceiro;
- Triângulo Equilátero: três lados iguais;
- Triângulo Isósceles: quaisquer dois lados iguais;
- Triângulo Escaleno: três lados diferentes;

In [ ]:
#entrada dos dados
lado1 = float(input("Digite a medida do primeiro lado: "))
lado2 = float(input("Digite a medida do segundo lado: "))
lado3 = float(input("Digite a medida do terceito lado: "))

#verificando se é um triangulo
if (lado1 + lado2) > lado3 and (lado2 + lado3) > lado1 and (lado3 + lado1) > lado2:
  print("É um triângulo")

  #categorizando o triângulo
  if lado1 == lado2 == lado3:
    print("Triângulo Equilátero")
  elif lado1 == lado2 or lado2 == lado3 or lado3 == lado1:
    print("Triângulo Isósceles")
  elif lado1 != lado2 or lado2 != lado3 or lado3 != lado1:
    print("Triângulo Escaleno")
else:
  print("Medidadas não formam um triângulo")

Digite a medida do primeiro lado: 5
Digite a medida do segundo lado: 1
Digite a medida do terceito lado: 1
Medidadas não formam um triângulo

#### Questão 12
Um estabelecimento está vendendo combustíveis com descontos variados. Para o etanol, se a quantidade comprada for até 15 litros, o desconto será de 2% por litro. Caso contrário, será de 4% por litro. Para o diesel, se a quantidade comprada for até 15 litros, o desconto será de 3% por litro. Caso contrário, será de 5% por litro. O preço do litro de diesel é R\$ 2,00 e o preço do litro de etanol é R\$ 1,70. Escreva um programa que leia a quantidade de litros vendidos e o tipo de combustível (E para etanol e D para diesel) e calcule o valor a ser pago pelo cliente. Tenha em mente algumas dicas:

- O do valor do desconto será a multiplicação entre preço do litro, quantidade de litros e o valor do desconto.
- O valor a ser pago por um cliente será o resultado da multiplicação do preço do litro pela quantidade de litros menos o valor de desconto resultante do cálculo.

In [ ]:
# Entrada de dados
quantidade_litros = float(input("Digite a quantidade de litros vendidos: "))
tipo_combustivel = input("Digite o tipo de combustível (E para etanol e D para diesel): ").upper()

# Preços dos combustíveis
preco_etanol = 1.70
preco_diesel = 2.00

# Cálculo do desconto e valor a pagar
if tipo_combustivel == "E":
  if quantidade_litros <= 15:
    desconto = preco_etanol * quantidade_litros * 0.02
  else:
    desconto = preco_etanol * quantidade_litros * 0.04
  valor_a_pagar = (preco_etanol * quantidade_litros) - desconto
elif tipo_combustivel == "D":
  if quantidade_litros <= 15:
    desconto = preco_diesel * quantidade_litros * 0.03
  else:
    desconto = preco_diesel * quantidade_litros * 0.05
  valor_a_pagar = (preco_diesel * quantidade_litros) - desconto
else:
  print("Tipo de combustível inválido.")
  valor_a_pagar = 0  # Define um valor padrão em caso de erro

# Saída do resultado
print(f"Valor a ser pago: R$ {valor_a_pagar:.2f}")

Digite a quantidade de litros vendidos: 4
Digite o tipo de combustível (E para etanol e D para diesel): d
Valor a ser pago: R$ 7.76

#### Questão 13
Em uma empresa de venda de imóveis você precisa criar um código que analise os dados de vendas anuais para ajudar a diretoria na tomada de decisão. O código precisa coletar os dados de quantidade de venda durante os anos de 2022 e 2023 e fazer um cálculo de variação percentual. A partir do valor da variação, deve ser enviada às seguintes sugestões:
- Para variação acima de 20%: bonificação para o time de vendas.
- Para variação entre 2% e 20%: pequena bonificação para time de vendas.
- Para variação entre 2% e -10%: planejamento de políticas de incentivo às vendas.
- Para bonificações abaixo de -10%: corte de gastos.

In [ ]:
#entrada de dados
ano2022 = float(input("Digite o total de vendas de 2022: "))
ano2023 = float(input("Digite o total de vendas de 2023: "))

#calculando a variação
variação = ((ano2023 - ano2022) / ano2022) * 100
print(f"A variação é de {variação}")
#calculando bonificação
if variação > 20:
  print("Bonificação para o time de vendas")
elif variação >= 2 and variação <= 20:
  print("pequena bonificação para time de vendas")
elif variação >= -10 and variação < 2:
  print("planejamento de políticas de incentivo às vendas")
elif variação < -10:
  print("corte de gastos")

Digite o total de vendas de 2022: 5000000
Digite o total de vendas de 2023: 6000000
A variação é de 20.0
pequena bonificação para time de vendas

## Aula 4 - Estruturas de repetição

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

In [ ]:
numInicio = int(input("Digite o primeiro numero: "))
numFim = int(input("Digite o segundo numero: "))
contagem = numInicio + 1

while contagem < numFim:
  print(contagem)
  contagem += 1

Digite o primeiro numero: 5
Digite o segundo numero: 10
6
7
8
9

#### Questão 2
Escreva um programa para calcular quantos dias levará para a colônia de uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A inicia com 4 elementos e a colônia B com 10 elementos.

In [ ]:
bacA = 4
bacB = 10
dias = 0

while bacA <= bacB:
  bacA += (bacA * 0.03)
  bacB += (bacB * 0.01)
  dias += 1

print(f"Levará {dias} dias para a colônia de A ultrapassar ou igualar a colônia de B")

Levará 47 dias para a colônia de A ultrapassar ou igualar a colônia de B

#### Questão 3
Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de um serviço da empresa, precisamos verificar se as notas são válidas. Então, escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0, repita até que a pessoa usuária insira um valor válido.

In [ ]:
cont = 0
while cont < 15:
  nota = int(input("Digite uma nota de 0 a 5: "))
  while nota < 0 or nota > 5:
    nota = int(input("NOTA  INVÁLIDA. Digite uma nota de 0 a 5: "))
  cont += 1

Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 7
NOTA  INVÁLIDA. Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 6
NOTA  INVÁLIDA. Digite uma nota de 0 a 5: 0
Digite uma nota de 0 a 5: -1
NOTA  INVÁLIDA. Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 6
NOTA  INVÁLIDA. Digite uma nota de 0 a 5: 2
Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 6
NOTA  INVÁLIDA. Digite uma nota de 0 a 5: 3
Digite uma nota de 0 a 5: 1
Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 3
Digite uma nota de 0 a 5: 2
Digite uma nota de 0 a 5: 4
Digite uma nota de 0 a 5: 8
NOTA  INVÁLIDA. Digite uma nota de 0 a 5:

ValueError: invalid literal for int() with base 10: ''

#### Questão 4
Desenvolva um programa que leia um conjunto indeterminado de temperaturas em Celsius e faça uma análise. Portanto, escreva um programa que leia temperaturas e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

In [ ]:
cont = 0
temperatura = 0
somaTemp = 0
while temperatura != -273:
  temperatura = int(input("Digite uma temperatura em Celsius: "))
  somaTemp = somaTemp + temperatura
  cont += 1
  media = somaTemp / cont
  print(f"A média das temperaturas é {media}")

Digite uma temperatura em Celsius: 5
A média das temperaturas é 5.0
Digite uma temperatura em Celsius: 10
A média das temperaturas é 7.5
Digite uma temperatura em Celsius: 78
A média das temperaturas é 31.0
Digite uma temperatura em Celsius: -273
A média das temperaturas é -45.0

#### Questão 5
Escreva um programa que calcule o fatorial de um número inteiro fornecido pela pessoa usuária. O fatorial de um número inteiro é a multiplicação desse número por todos os seus antecessores até o número 1. Por exemplo, o fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
num = int(input("Digite um numero: "))
mult = num
while num != 1:
  mult = mult * (num - 1)
  num -= 1
print(mult)

Digite um numero: 5
120

### Momento dos projetos

#### Questão 6
Escreva um programa que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 2, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20
```

In [ ]:
num = int(input("Digite um numero: "))
cont = 1
print(f"Tabuada do {num}:")
while cont <= 10:
  print(f"{num} x {cont} = {num * cont}")
  cont += 1

Digite um numero: 2
Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#### Questão 7
Os números primos possuem várias aplicações dentro da Ciência de Dados, por exemplo, na criptografia e segurança. Um número primo é aquele que é divisível apenas por um e por ele mesmo. Faça um programa que peça um número inteiro e determine se ele é ou não um número primo.

In [ ]:
num = int(input("Digite um numero: "))
cont = 1
div = 0
while cont <= num:
  if num % cont == 0:
    div += 1
  cont += 1
if div == 2:
  print("O numero é primo")
else:
  print("O numero não é primo")

Digite um numero: 8
O numero não é primo

#### Questão 8
Vamos entender a distribuição de idades de pensionistas de uma empresa de previdência. Escreva um programa que leia as idades de uma quantidade não informada de clientes e mostre a distribuição em intervalos de [0-25], [26-50], [51-75] e [76-100]. Encerre a entrada de dados com um número negativo.

In [ ]:
entradaIdade = 0
while entradaIdade >= 0:
  entradaIdade = int(input("Digite uma idade: "))
  if entradaIdade >= 0 and entradaIdade <= 25:
    print("Idade entre 0 e 25")
  elif entradaIdade >= 26 and entradaIdade <= 50:
    print("Idade entre 26 e 50")
  elif entradaIdade >= 51 and entradaIdade <= 75:
    print("Idade entre 51 e 75")
  elif entradaIdade >= 76 and entradaIdade <= 100:
    print("Idade entre 76 e 100")

Digite uma idade: 10
Idade entre 0 e 25
Digite uma idade: 49
Idade entre 26 e 50
Digite uma idade: 56
Idade entre 51 e 75
Digite uma idade: 80
Idade entre 76 e 100
Digite uma idade: -1

#### Questão 9
Em uma eleição para gerência em uma empresa com 20 funcionários, existem quatro candidatos. Escreva um programa que calcule o vencedor da eleição. A votação ocorreu da seguinte maneira:
- Cada funcionário votou em um dos quatro candidatos (representados pelos números 1, 2, 3 e 4).
- Também foram contabilizados os votos nulos (representado pelo número 5) e os votos em branco (representado pelo número 6).

Ao final da votação, o programa deve exibir o total de votos para cada candidato, o número de votos nulos e o número de votos em branco. Além disso, deve calcular e exibir a porcentagem de votos nulos em relação ao total de votos e a porcentagem de votos em branco em relação ao total de votos.

In [ ]:
cont1 = 0
cont2 = 0
cont3 = 0
cont4 = 0
cont5 = 0
cont6 = 0

for i in range(1, 21):
  voto = int(input("Digite o seu voto: "))
  if voto == 1:
    cont1 += 1
  elif voto == 2:
    cont2 += 1
  elif voto == 3:
    cont3 += 1
  elif voto == 4:
    cont4 += 1
  elif voto == 5:
    cont5 += 1
  elif voto == 6:
    cont6 += 1

print(f"Candidato 1: {cont1}")
print(f"Candidato 2: {cont2}")
print(f"Candidato 3: {cont3}")
print(f"Candidato 4: {cont4}")
print(f"Votos nulos: {cont5}")
print(f"Votos em branco: {cont6}")

Digite o seu voto: 1
Digite o seu voto: 2
Digite o seu voto: 4
Digite o seu voto: 1
Digite o seu voto: 5
Digite o seu voto: 6
Digite o seu voto: 1
Digite o seu voto: 3
Digite o seu voto: 2
Digite o seu voto: 4
Digite o seu voto: 3
Digite o seu voto: 1
Digite o seu voto: 5
Digite o seu voto: 35
Digite o seu voto: 6
Digite o seu voto: 45
Digite o seu voto: 5
Digite o seu voto: 22
Digite o seu voto: 23
Digite o seu voto: 12
Candidato 1: 4
Candidato 2: 2
Candidato 3: 2
Candidato 4: 2
Votos nulos: 3
Votos em branco: 2

## Aula 5 - Estruturas de dados

### Aquecendo na programação

#### Questão 1
Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel `[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]`. Com esses valores, faça um programa que calcule a média de gastos. Dica, use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
media = sum(gastos) / len(gastos)
media

3144.222

#### Questão 2
 Com os mesmos dados da questão anterior, defina quantas compras foram acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

In [ ]:
cont = 0
for gasto in gastos:
  if gasto > 3000:
    cont += 1
porc = (cont / len(gastos)) * 100
print(f"A porcentagem de compras acima de 3000 é de {porc}%")

A porcentagem de compras acima de 3000 é de 70.0%

#### Questão 3
Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: `[1,4,7,2,4]`.

In [ ]:
lista = []
for i in range(5):
  lista.append(int(input("Digite um numero inteiro: ")))
print(lista)

Digite um numero inteiro: 5
Digite um numero inteiro: 3
Digite um numero inteiro: 41
Digite um numero inteiro: 5
Digite um numero inteiro: 3
[5, 3, 41, 5, 3]

#### Questão 4
Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

In [ ]:
lista = []
for i in range(5):
  lista.append(int(input("Digite um numero inteiro: ")))
lista.reverse()
print(lista)

Digite um numero inteiro: 1
Digite um numero inteiro: 2
Digite um numero inteiro: 3
Digite um numero inteiro: 4
Digite um numero inteiro: 5
[5, 4, 3, 2, 1]

####Questão 5
Faça um programa que, ao inserir um número qualquer, criará uma lista contendo todos os números primos entre 1 e o número digitado.

In [ ]:
num = int(input("Digite um numero: "))
lista = []
for i in range(1, num + 1):
  cont = 0
  for j in range(1, i + 1):
    if i % j == 0:
      cont += 1
  if cont == 2:
    lista.append(i)
print(lista)

Digite um numero: 7
[2, 3, 5, 7]

#### Questão 6
Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é uma data válida para uma análise.

In [ ]:
#entrada dos dados
dia = int(input("Digite o dia: "))
mes = int(input("Digite o mês: "))
ano = int(input("Digite o ano: "))

#dia, mês e ano não podem ser negativos
if dia > 0 or mes > 0 or ano > 0:
  #mês não pode ser maior que 12
  if mes <= 12:
    #Se o mês for 02, o dia não pode ser maior que 29
    if mes==2 and dia <= 29:
      #Se o mês for 01, 03, 05, 07, 08, 10, 12, o dia não pode ser maior que 31
      if mes == 1 or mes == 3 or mes == 5 or mes == 7 or mes == 8 or mes == 10 or mes == 12 and dia <= 31:
        #Se o mês for 04, 06, 09, 11, o dia não pode ser maior que 30
        if mes == 4 or mes == 6 or mes == 9 or mes == 11 and dia <= 30:
          #ano deve ter mais de 4 digitos
          if len(ano) >= 4:
            print("Data válida")
          else:
            print("Data inválida! Ano deve ter mais de 4 digitos")
        else:
          print("Data inválida! Mês não deve ter mais de 30 dias")
      else:
        print("Data inválida! Mês não deve ter mais de 31 dias")
    else:
      print("Data inválida! Mês 02 não deve ter mais de 29 dias")
  else:
    print("Data inválida! Mês não deve ser maior que 12")
else:
  print("Data inválida! Dia, Mês e Ano não podem ser negativos")

Digite o dia: -2
Digite o mês: 12
Digite o ano: 1999
Data inválida! Mês 02 não deve ter mais de 29 dias

### Momento dos projetos

#### Questão 7
Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias multiplicadas por dia, com base em um processo de duplicação diária e pode ser observado a seguir: `[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]`. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: `100 * (amostra_atual - amostra_passada) / (amostra_passada)`.

In [ ]:
amostras = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
lista = []
cont = 0
while cont < len(amostras):
  if cont == 0:
    lista.append(0)
  else:
    calculo = 100 * (amostras[cont] - amostras[cont - 1]) / amostras[cont - 1]
    lista.append(calculo)
  cont += 1
lista

[0,
 75.00000000000001,
 57.142857142857125,
 51.51515151515153,
 56.0,
 44.87179487179489,
 46.90265486725664,
 51.20481927710843,
 50.59760956175297,
 50.52910052910054]

#### Questão 8
Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros, sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

In [ ]:
lista = []
impar = 0
par = 0
for cont in range(10):
  num = int(input(f"Digite o ID do produto. ID digitados: {cont} - "))
  if (num % 2) == 0:
    par += 1
  else:
    impar += 1

print(f"Numero de doces são {par}, e numero de amargos são {impar}")

Digite o ID do produto. ID digitados: 0 - 3
Digite o ID do produto. ID digitados: 1 - 5
Digite o ID do produto. ID digitados: 2 - 2
Digite o ID do produto. ID digitados: 3 - 3
Digite o ID do produto. ID digitados: 4 - 9
Digite o ID do produto. ID digitados: 5 - 4
Digite o ID do produto. ID digitados: 6 - 5
Digite o ID do produto. ID digitados: 7 - 6
Digite o ID do produto. ID digitados: 8 - 1
Digite o ID do produto. ID digitados: 9 - 23
Numero de doces são 3, e numero de amargos são 7

#### Questão 9
Desenvolva um programa que informa a nota de um aluno de acordo com suas respostas. Ele deve pedir a resposta de um aluno para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem alternativas:  A, B, C ou D.
```
Gabarito da Prova:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B
```

In [ ]:
gabarito = {"1":"D", "2":"A", "3":"C", "4":"B", "5":"A", "6":"D", "7":"C"
, "8":"C", "9":"A", "10":"B"}

prova = {}
acertos = 0
for questao in range(10):
  prova[str(questao + 1)] = input(f"Digite a alternativa da questão {questao + 1}: ")

cont = 0

while cont < len(prova):
  if prova[str(cont + 1)] == gabarito[str(cont + 1)]:
    acertos += 1
  cont += 1
print(f"O aluno fez {acertos} pontos")

Digite a alternativa da questão 1: A
Digite a alternativa da questão 2: B
Digite a alternativa da questão 3: A
Digite a alternativa da questão 4: V
Digite a alternativa da questão 5: C
Digite a alternativa da questão 6: D
Digite a alternativa da questão 7: A
Digite a alternativa da questão 8: B
Digite a alternativa da questão 9: C
Digite a alternativa da questão 10: A
O aluno fez 1 pontos

#### Questão 10
Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual, e em que mês elas ocorreram, mostrando os meses por extenso: Janeiro, Fevereiro, etc.

In [ ]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho'
, 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

temperaturas = {}
soma = 0

for mes in meses:
  temperaturas[mes] = float(input(f"Digite a temperatura do mês de {mes}: "))
  soma += temperaturas[mes]

media = soma / len(meses)
print(f"A temperatura média anual é de {media}°")

for mes in meses:
  if temperaturas[mes] > media:
    print(f"O mês de {mes} tem a temperatura acima da média - {temperaturas[mes]}°")

Digite a temperatura do mês de Janeiro: 10
Digite a temperatura do mês de Fevereiro: 0
Digite a temperatura do mês de Março: 32
Digite a temperatura do mês de Abril: 20
Digite a temperatura do mês de Maio: 15
Digite a temperatura do mês de Junho: 28
Digite a temperatura do mês de Julho: 17
Digite a temperatura do mês de Agosto: 36
Digite a temperatura do mês de Setembro: 32
Digite a temperatura do mês de Outubro: 30
Digite a temperatura do mês de Novembro: 19
Digite a temperatura do mês de Dezembro: 20
A temperatura média anual é de 21.583333333333332°
O mês de Março tem a temperatura acima da média - 32.0°
O mês de Junho tem a temperatura acima da média - 28.0°
O mês de Agosto tem a temperatura acima da média - 36.0°
O mês de Setembro tem a temperatura acima da média - 32.0°
O mês de Outubro tem a temperatura acima da média - 30.0°

#### Questão 11
Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:
```
{'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
```
Escreva um código que calcule o total de vendas e o produto mais vendido.

In [ ]:
vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

print(f"O total de vendas é de ${sum(vendas.values())}")
print(f"A venda mais alta é de ${vendas[max(vendas, key=vendas.get)]}")

O total de vendas é de $920
A venda mais alta é de $300

#### Questão 12
Uma pesquisa de mercado foi feita para decidir qual design de uma marca infantil mais agrada crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:
```
'''
Tabela de votos da marca
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos
'''
```
Adapte os dados fornecidos a você para uma estrutura de dicionário e a partir dele, informe o design vencedor e a porcentagem de votos recebidos.

In [ ]:
votos = {"Design 1":1334, "Design 2":982, "Design 3":1751, "Design 4":210,
         "Design 5":1811}
totalVotos = sum(votos.values())
vencedor = max(votos, key=votos.get)
perc = 100 * (votos[vencedor] / totalVotos)
print(f"O vencedor é o {vencedor}, com {perc}% dos votos")

O vencedor é o Design 5, com 29.747043363994745% dos votos

#### Questão 13
Os funcionários de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do seu salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: `[1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]`. O abono de cada funcionário não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos funcionários receberam o abono mínimo e qual o maior valor de abono fornecido.

In [ ]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
abonos = {}
abonosMin = 0
for salario in salarios:
  if (salario * 0.1) < 200:
    abonos[str(salario)] = 200
    abonosMin += 1
  else:
    abonos[str(salario)] = salario * 0.1
totalGastos = sum(salarios) + sum(abonos.values())
maxAbono = abonos[max(abonos, key=abonos.get)]

print(f"O total de gasto é de R${totalGastos}.")
print(f"O total de funcionários que receberam o abono minimo é {abonosMin}.")
print(f"O maior abono recebido é de R${maxAbono}.")

O total de gasto é de R$65781.8.
O total de funcionários que receberam o abono minimo é 2.
O maior abono recebido é de R$790.3000000000001.

#### Questão 14
Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área da floresta e armazenaram essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.
```
{'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}
```
Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [ ]:
area_florestal = {'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}

media_por_area = {}
for area, especies in area_florestal.items():
  total_especies = sum(especies)
  media_por_area[area] = total_especies / len(especies)

area_mais_diversas = max(media_por_area, key=media_por_area.get)

print(f"A área com a maior diversidade biológica é {area_mais_diversas} com uma média de {media_por_area[area_mais_diversas]} espécies por área.")

A área com a maior diversidade biológica é Área Centro com uma média de 33853.0 espécies por área.

#### Questão 15
O setor de RH da sua empresa te pediu uma ajuda para analisar as idades dos funcionários de 4 setores da empresa. Para isso, ele te forneceu os seguintes dados:
```
{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
```
Sabendo que cada setor tem 10 funcionários, construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

In [ ]:
funcionarios = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

media_setor = {}
soma_idades = 0
for setor, idades in funcionarios.items():
  media_setor[setor] = sum(idades) / len(idades)
  soma_idades += sum(idades)

media_geral = soma_idades / (len(funcionarios) * 10)

cont_acima_media = 0
for setor, idades in funcionarios.items():
  for idade in idades:
    if idade > media_geral:
      cont_acima_media += 1

print(f"A média de idade de cada setor é: {media_setor}")
print(f"A idade média geral entre os setores é: {media_geral}")
print(f"O número de pessoas acima da idade média geral é: {cont_acima_media}")

A média de idade de cada setor é: {'Setor A': 39.9, 'Setor B': 42.3, 'Setor C': 35.8, 'Setor D': 36.5}
A idade média geral entre os setores é: 38.625
O número de pessoas acima da idade média geral é: 18